In [ ]:
# quiz - 학교에서 파이썬 코딩 대회 주최
# 댓글 이벤트 - 댓글 작성자 중 추첨 통해 1명 치킨, 3명 커피쿠폰

# 조건 1 - 편의상 댓글 20명이 작성, 아이디 1-20이라 가정
# 조건 2 - 댓글 내용과 상관없이 무작위로 추첨하되 중복불가
# 조건 3 - random 모듈의 shuflle과 sample을 활용

In [ ]:
'''

(출력예제)
-- 당첨자 발표 --
치킨 당첨자 : 1
커피 당첨자 : [2,3,4]
-- 축하합니다.

'''

In [1]:
# 활용예제

from random import *
lst = [1,2,3,4,5]
print(lst)
shuffle(lst)
print(lst)
print(sample(lst,1))

[1, 2, 3, 4, 5]
[5, 1, 2, 3, 4]
[3]

In [45]:
from random import *

lst = []
for i in range(20):
    a = randint(1, 20)
    while a in lst:
        a = randint(1, 20)
    lst.append(a)
# print(lst)
# shuffle(lst)  # 이미 1-20 랜덤으로 섞여서 필요없음
b = sample(lst, 4)
print(b)
print("-- 당첨자 발표 --")
print("치킨 당첨자  : ", b[0])
print("커피 당첨자 : ", b[1:])
print("-- 축하합니다. --")

# sample로 각각 출력시 치킨 당첨자와 커피 당첨자에서 같은 사람이 나올 수 있다. - 먼저 sample로 4개 추출해야한다.

[20, 5, 13, 2]
-- 당첨자 발표 --
치킨 당첨자  :  20
커피 당첨자 :  [5, 13, 2]
-- 축하합니다. --

In [42]:
# 정답
from random import *

users = range(1, 21)
users = list(users) # 1에서 20까지 리스트

shuffle(users)
winners = sample(users, 4)

print("-- 당첨자 발표 --")
print("치킨 당첨자  : {}".format(winners[0]))
print("커피 당첨자 : {}".format(winners[1:]))
print("-- 축하합니다. --")

-- 당첨자 발표 --
치킨 당첨자  : 13
커피 당첨자 : [11, 16, 17]
-- 축하합니다. --

In [47]:
print("hello\nWorld") # \n - 줄바꿈
print("hello\tWorld") # \t - 간격 tap만큼

hello
World
hello	World

In [53]:
이름 = "Bob"
나이 = 25
인사문 = "안녕하세요. 제 이름은 %s이고, 나이는 %d세 입니다." %(이름, 나이)
print(인사문)

안녕하세요. 제 이름은 Bob이고, 나이는 25세 입니다.

In [52]:
이름 = "Bob"
나이 = 25
인사문 = "안녕하세요. 제 이름은 {}이고, 나이는 {}세 입니다.".format(이름, 나이)
print(인사문)

안녕하세요. 제 이름은 Bob이고, 나이는 25세 입니다.

In [55]:
이름 = "Bob"
나이 = 25
인사문 = "안녕하세요. 제 이름은 %s이고, 나이는 %f세 입니다." %(이름, 나이)   # %s 대신 %c 사용시 문자 하나가 아니므로 오류 발생
print(인사문)

안녕하세요. 제 이름은 Bob이고, 나이는 25.000000세 입니다.

In [59]:
number = 10
day = "three"
"I ate {1} apples. so I was sick for {0} days.".format(number, day) # 0, 1 순

'I ate three apples. so I was sick for 10 days.'

In [60]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [61]:
my_list = [1, 2, 3, 4, 5]
item = my_list[2]  # 3을 가져옴
print(item)

3

In [62]:
my_list = [1, 2, 3, 4, 5]
sliced_list = my_list[1:4]  # [2, 3, 4]를 가져옴
print(sliced_list)

[2, 3, 4]

In [63]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result = list1 + list2  # [1, 2, 3, 4, 5, 6]
print(result)

[1, 2, 3, 4, 5, 6]

In [64]:
original_list = [1, 2, 3]
repeated_list = original_list * 3  # [1, 2, 3, 1, 2, 3, 1, 2, 3]
print(repeated_list)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [65]:
my_list = [1, 2, 3, 4, 5]
length = len(my_list)  # 5
print(length)

5

In [66]:
my_list = [1, 2, 3, 4, 5]
my_list[2] = 6  # [1, 2, 6, 4, 5]
print(my_list)

[1, 2, 6, 4, 5]

In [67]:
my_list = [1, 2, 3, 4, 5]
del my_list[3]  # [1, 2, 3, 5]
print(my_list)

[1, 2, 3, 5]

In [68]:
my_list = [1, 2, 3]
my_list.append(4)  # [1, 2, 3, 4]
print(my_list)

[1, 2, 3, 4]

In [70]:
my_list = [3, 1, 2, 4]
my_list.sort()  # [1, 2, 3, 4]
print(my_list)

[1, 2, 3, 4]

In [71]:
my_list = [1, 2, 3]
my_list.reverse()  # [3, 2, 1] - 순서만 뒤집기 (역정렬x)
print(my_list)

[3, 2, 1]

In [75]:
a = "두산그룹"
b = "의 이번 2023년 3분기 당기 순이익은 2000억원 입니다."
x = "----" * 15


print(x)
print(a+b)
print(x)

------------------------------------------------------------
두산그룹의 이번 2023년 3분기 당기 순이익은 2000억원 입니다.
------------------------------------------------------------

In [76]:
# find, index -> find는 찾는 문자가 없으면 -1 출력, index는 없으면 에러발생

# 문자열 나누기 - split()
b.split()

['의', '이번', '2023년', '3분기', '당기', '순이익은', '2000억원', '입니다.']

In [ ]:
# 다중 리스트의 인덱싱 방법
u = [1, 2, [7, 8, 9]]
u[0] # 1
u[1] # 2
u[2] # [7, 8, 9]
u[2][0] # 7
u[2][1] # 8
u[2][2] # 9

In [101]:
# 원하는 데이터 슬라이싱

u = [1, 2, [7, 8, 9, ['zelle', 777]]]
u[-1][-1][-1]
u[2][3][1]

777

In [77]:
my_tuple = (1, 2, 3)
del my_tuple[1]  # TypeError: 'tuple' object doesn't support item deletion
# 튜플은 한 번 생성되면 요솟값을 삭제하거나 변경할 수 없다.
# 튜플은 불변(immutable)한 데이터 구조

TypeError: 'tuple' object doesn't support item deletion

In [78]:
my_tuple = (1, 2, 3)
my_tuple[1] = 4  # TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [80]:
# 튜플은 인덱스와 슬라이싱은 가능
my_tuple = (1, 2, 3, 4, 5)
item = my_tuple[2]  # 3을 가져옴
print(item)

3

In [81]:
my_tuple = (1, 2, 3, 4, 5)
sliced_tuple = my_tuple[1:4]  # (2, 3, 4)을 가져옴
print(sliced_tuple)

(2, 3, 4)

In [82]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = tuple1 + tuple2  # (1, 2, 3, 4, 5, 6)
print(result)

(1, 2, 3, 4, 5, 6)

In [83]:
original_tuple = (1, 2, 3)
repeated_tuple = original_tuple * 3  # (1, 2, 3, 1, 2, 3, 1, 2, 3)
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
# 딕셔너리 - {key:value}
my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}

In [84]:
my_dict = {'apple': 2, 'banana': 3}
my_dict['cherry_2'] = 15
# my_dict는 {'apple': 2, 'banana': 3, 'cherry_2': 15}
print(my_dict)

{'apple': 2, 'banana': 3, 'cherry_2': 15}

In [85]:
my_dict = {'apple': 2, 'banana': 3}
my_dict['cherry_2'] = [15, 1,1, 2, 3, 4, 5]
# my_dict는 {'apple': 2, 'banana': 3, 'cherry_2': 15}
print(my_dict)
# 단일 key 값의 value가 여러개 가능

{'apple': 2, 'banana': 3, 'cherry_2': [15, 1, 1, 2, 3, 4, 5]}

In [86]:
import pandas as pd
my_dict = {'apple': 2, 'banana': 3}
my_dict['cherry_2'] = [15, 1,1, 2, 3, 4, 5]
# my_dict는 {'apple': 2, 'banana': 3, 'cherry_2': 15}
df = pd.DataFrame(my_dict)
df

   apple  banana  cherry_2
0      2       3        15
1      2       3         1
2      2       3         1
3      2       3         2
4      2       3         3
5      2       3         4
6      2       3         5

In [87]:
my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}
del my_dict['banana']
# my_dict는 {'apple': 2, 'cherry': 5}
print(my_dict)

{'apple': 2, 'cherry': 5}

In [88]:
my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}
value_of_banana = my_dict['banana']
# value_of_banana는 3
print(value_of_banana)

3

In [89]:
my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}
keys_list = my_dict.keys()  # dict_keys(['apple', 'banana', 'cherry'])
print(keys_list)

dict_keys(['apple', 'banana', 'cherry'])

In [90]:
my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}
values_list = my_dict.values()  # dict_values([2, 3, 5])
print(values_list)

dict_values([2, 3, 5])

In [91]:
my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}
items_list = my_dict.items()  # dict_items([('apple', 2), ('banana', 3), ('cherry', 5)])
print(items_list)

dict_items([('apple', 2), ('banana', 3), ('cherry', 5)])

In [92]:
my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}
my_dict.clear()  # my_dict는 {}
print(my_dict)

{}

In [96]:
my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}
value_of_apple = my_dict.get('apple')  # 2
# value_of_apple = my_dict['apple']   # 대체 가능
print(value_of_apple)

2

In [98]:
my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}
is_apple_in_dict = 'apple' in my_dict  # True
is_grape_in_dict = 'grape' in my_dict  # False
print(is_apple_in_dict)
print(is_grape_in_dict)

True
False

In [99]:
# 집합 자료형 - 중복, 순서 허용 x
my_set = {1, 2, 3, 4, 5, 2, 2, 1, 2, 3}
print(my_set)

{1, 2, 3, 4, 5}

In [102]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
intersection = set1 & set2  # {3, 4, 5}
print(intersection)

{3, 4, 5}

In [103]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
union = set1 | set2  # {1, 2, 3, 4, 5, 6, 7}
print(union)

{1, 2, 3, 4, 5, 6, 7}

In [104]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
difference = set1 - set2  # {1, 2}
print(difference)

{1, 2}

In [105]:
my_set = {1, 2, 3}
my_set.add(4)
# my_set는 {1, 2, 3, 4}
print(my_set)

{1, 2, 3, 4}

In [106]:
my_set = {1, 2, 3}
my_set.update([3, 4, 5])
# my_set는 {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [107]:
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
# my_set는 {1, 2, 4, 5}
print(my_set)

{1, 2, 4, 5}

In [108]:
is_true = bool(1)  # True
is_false = bool(0)  # False

In [ ]:
'''
자료형의 참과 거짓

파이썬에서는 여러 상황에서 참과 거짓을 판별할 수 있습니다. 일반적으로 다음과 같은 규칙에 따릅니다:

0,            빈 문자열, 빈 리스트, 빈 튜플, 빈 딕셔너리, None은 거짓(False)으로 간주됩니다.
그 외의 숫자, 문자열,    리스트,    튜플,    딕셔너리,    객체는 참(True)으로 간주됩니다
'''

In [109]:
x = True
y = False

result1 = x and y  # False
result2 = x or y   # True
result3 = not x    # False
print(result1)
print(result2)
print(result3)

False
True
False

In [111]:
# elif

pocket = ['paper', 'cellphone']
card = 1

if 'money' in pocket :
    print('택시를 타고 가라')
else :
    if card :
        print("택시를 타고 가라")
    else :
        print("걸어가라")

택시를 타고 가라

In [112]:
pocket = ['paper', 'cellphone']
card = 1

if 'money' in pocket :
    print('택시를 타고 가라')
elif card :
    print("택시를 타고 가라")
else :
    print("걸어가라")

택시를 타고 가라

In [ ]:
# if문 한줄로 작성
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket : print("택시를 타고가라")   # 콜론 옆에 참인 조건 작성
else : print("카드를 꺼내라")

In [116]:
number = 23
guess = int(input('정수를 입력해 주시기 바랍니다. : ')) # input 함수로 입력을 받으면 문자열로 받기때문에 int()를 사용해서 정수처리
if number == guess :
    print("축하합니다. 정확히 맞추셨어요.")
elif guess < number :
    print("아니오. 그거보단 커야해요")
else :
    print("아니오. 그거보단 작아야해요")
print("끝났습니다.")

정수를 입력해 주시기 바랍니다. : 23
축하합니다. 정확히 맞추셨어요.
끝났습니다.

In [121]:
number = 23
running = True

while running :
    guess = int(input("정수를 입력해 주세요 : "))
    if guess == number :
        print("축하드려요. 맞추셨네요.")
        running = False
    elif guess < number :
        print("그거보다 커요.")
    else :
        print("그거보다 작아요.")
else :
    print("The while 문이 끝났습니다.")
    
print("끝")

정수를 입력해 주세요 : 23
축하드려요. 맞추셨네요.
The while 문이 끝났습니다.
끝

In [122]:
from random import *
number = randint(1, 100)
running = True

while running :
    guess = int(input("정수를 입력해 주세요 : "))
    if guess == number :
        print("축하드려요. 맞추셨네요.")
        running = False
    elif guess < number :
        print("그거보다 커요.")
    else :
        print("그거보다 작아요.")
else :
    print("The while 문이 끝났습니다.")
    
print("끝")

정수를 입력해 주세요 : 20
그거보다 커요.
정수를 입력해 주세요 : 50
그거보다 작아요.
정수를 입력해 주세요 : 40
그거보다 커요.
정수를 입력해 주세요 : 45
그거보다 작아요.
정수를 입력해 주세요 : 43
그거보다 작아요.
정수를 입력해 주세요 : 42
축하드려요. 맞추셨네요.
The while 문이 끝났습니다.
끝

In [129]:
# quiz - continue를 사용해서 코드 바꿔서
# 현재 count 값 4도 출력되게 바꾸기

count = 0
while count < 5 :
    if count == 3:
        break
    print("현재 count 값 : ", count)
    count += 1

현재 count 값 :  0
현재 count 값 :  1
현재 count 값 :  2

In [134]:
count = 0
while count < 5 :
    if count == 3:
        count += 1 # 건너뛰기 전에 4 만드려고 추가
        continue
    else : # 3이 아닌 다른 케이스 - 건너뛰지 않았을때
        print("현재 count 값 : ", count)
    count += 1 # while문 종료를 위해 - count =5를 만들기 위해

현재 count 값 :  0
현재 count 값 :  1
현재 count 값 :  2
현재 count 값 :  4

In [137]:
# 1에서 9까지 정수에서 while과 if를 써서 홀수만 출력


a = 0
while a < 10:
    a += 1
    if a % 2 == 0 :
        continue
    else :
        print(a)

1
3
5
7
9

In [139]:
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [140]:
text = "Hello"
for char in text:
    print(char)

H
e
l
l
o

In [141]:
for number in range(1, 6):
    print(number)

1
2
3
4
5

In [143]:
a = [(1, 2), (3, 4), (5, 6)]
for (first, last) in a :
    print(first+last)

3
7
11

In [145]:
# 5명의 학생 점수를 하나씩 꺼내서 60점 이상은 합격, 미만은 불합격으로 출력
# 예) 1번학생 합격

marks = [90, 25, 67, 45, 80]
count = 0
for i in marks :
    count += 1
    if i >= 60:
#         print(count, "번 학생 합격")
        print("%d번 학생 합격" %count)
    else :
#         print(count, "번 학생 불합격")
        print("%d번 학생 불합격" %count)

1번 학생 합격
2번 학생 불합격
3번 학생 합격
4번 학생 불합격
5번 학생 합격

In [149]:
# 이중 for 문

for i in range(2, 10) :
    for j in range(1, 10):
        print(f"{i} x {j} = {i * j}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [150]:
# for문을 한줄로 쓰기
numbers = [1, 2, 3, 4, 5]
squares = [x**2 for x in numbers]    # 하고싶은 작업 for 원소 in 데이터셋
squares

# 아래와 같음
# for x in numbers:
#     print(x**2)

[1, 4, 9, 16, 25]

In [151]:
result = [x*y for x in range(2, 10) for y in range(1, 10)]
result

# 아래와 같음
# for i in range(2, 10) :
#     for j in range(1, 10) :
#         print(i*j)

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [171]:
#  {key : [val1, val2]} - {'영화' : [평점, 관객수]}
movie = {'광해' : [9.24, 1200], '공작' : [7.86, 500], '관상' : [8.01, 900],}

#  문] 평점 8이상인 영화들의 제목과 합산관객수 출력하기
'''
광해
관상
누적 관객수 =  2,100
'''    

# 아래의 코드를 참고해서 문제를 푸세요
# for문으로 딕셔너리에서 key랑 value값 둘 다 한줄씩 출력해 주세요
# for zz, k in movie.items():
#     print(zz, k)

# for k in movie.items():
#     print(k)
    
z = 0    
for x, y in movie.items() :
    if y[0] >= 8 :
        print(x)
        z += y[1]
#     else :
#         pass
print("누적 관객수 = %d" %z)

광해
관상
누적 관객수 = 2100

In [191]:
import random
lst = []
for i in range(6):
    a = randint(1, 45)
    while a in lst:
        a = randint(1, 45)
    lst.append(a)

print(lst)

[43, 45, 8, 28, 26, 39]

In [200]:
import random

lst =[]
for i in range(45):
    while len(lst) < 6:
        number = random.randint(1, 45)
        if number not in lst :
            lst.append(number)
print(lst)

[24, 42, 37, 26, 28, 45]

In [ ]:
import random

results = {}

for i in range(10):
    r = random.sample(45, 6)

In [ ]:
# 정렬 알고리즘에서 오름차순 알고리즘 사용
# 아래 5개 데이터셋의 정렬작업을 순차적으로 진행하여 주시기 바랍니다.
#맨 위에 for문 하나만 더 쓰면 됩니다.

dataset_1 = [3, 5, 1, 2, 4]
dataset_2 = [3, 11, 77, 32, 99]
dataset_3 = [3, 75645, 32, 2, 666]
dataset_4 = [3, 32, 1, 666, 4]
dataset_5 = [323, 5, 7, 2, 666]
datasets = [dataset_1, dataset_2, dataset_3, dataset_4, dataset_5 ]

# 아래 오름차순 알고리즘을 5개 데이터셋을 순차적으로 정렬하는데 써주세요
dataset = [3, 5, 1, 2, 4]
n = len(dataset)
for i in range(0, n-1) : # 1 ~ n-1
    for j in range(i+1, n) : # i+1 ~ n-1
        print(i, j, dataset) # 그냥 dataset을 출력하면 내가 어디있는지 잘 몰라
        if dataset[i] > dataset[j] :
            tmp = dataset[i]
            dataset[i] = dataset[j]
            dataset[j] = tmp
print(dataset)

In [202]:
dataset_1 = [3, 5, 1, 2, 4]
dataset_2 = [3, 11, 77, 32, 99]
dataset_3 = [3, 75645, 32, 2, 666]
dataset_4 = [3, 32, 1, 666, 4]
dataset_5 = [323, 5, 7, 2, 666]
datasets = [dataset_1, dataset_2, dataset_3, dataset_4, dataset_5 ]

for dataset in datasets :
    n = len(dataset)
    for i in range(0, n-1) :
        for j in range(i+1, n) :
            if dataset[i]>dataset[j] :
                tmp = dataset[i]
                dataset[i] = dataset[j]
                dataset[j] = tmp
print(datasets)

[[1, 2, 3, 4, 5], [3, 11, 32, 77, 99], [2, 3, 32, 666, 75645], [1, 3, 4, 32, 666], [2, 5, 7, 323, 666]]

In [204]:
# 1 ~ 10 번 학생 중 결석한 학생을 제외하고 (결석자는 2, 5번)
# 아래의 메세지를 출력

# 1번, 책을 읽으세요
# 3번, 책을 읽으세요
# 4번, 책을 읽으세요
# 6번, 책을 읽으세요
# 7번, 책을 읽으세요
# 8번, 책을 읽으세요
# 9번, 책을 읽으세요
# 10번, 책을 읽으세요


for i in range(1,11) :
    if i == 2 :
        pass
    elif i == 5 :
        pass
    else :
        print("%d번, 책을 읽으세요" %i)

1번, 책을 읽으세요
3번, 책을 읽으세요
4번, 책을 읽으세요
6번, 책을 읽으세요
7번, 책을 읽으세요
8번, 책을 읽으세요
9번, 책을 읽으세요
10번, 책을 읽으세요

In [210]:
for i in range(1,11) :
    if i == 2 or i == 5:
        continue
    else :
        print("%d번, 책을 읽으세요" %i)

1번, 책을 읽으세요
3번, 책을 읽으세요
4번, 책을 읽으세요
6번, 책을 읽으세요
7번, 책을 읽으세요
8번, 책을 읽으세요
9번, 책을 읽으세요
10번, 책을 읽으세요

In [211]:
absent = [2,5]

for student in range(1, 11):
    if student in absent :
        continue
    else :
        print("{}번, 책을 읽으세요".format(student))

1번, 책을 읽으세요
3번, 책을 읽으세요
4번, 책을 읽으세요
6번, 책을 읽으세요
7번, 책을 읽으세요
8번, 책을 읽으세요
9번, 책을 읽으세요
10번, 책을 읽으세요

In [215]:
for i in range(1,11) :
    if i == 2 or i == 5:
        continue
    elif i == 7 :
        print("%d번은 책을 안가져왔군" %i)
    else :
        print("%d번, 책을 읽으세요" %i)

1번, 책을 읽으세요
3번, 책을 읽으세요
4번, 책을 읽으세요
6번, 책을 읽으세요
7번은 책을 안가져왔군
8번, 책을 읽으세요
9번, 책을 읽으세요
10번, 책을 읽으세요

In [216]:
# 위의 문제에서 7번 학생이 책을 가져오지 않았습니다.
# 7번 학생을 만나면 "7번은 책을 안가져왔군" 이란 말이 나오도록 코드 변경


absent = [2,5]
no_book = [7]

for student in range(1, 11):
    if student in absent :
        continue
    elif student in no_book:
        print("{}번은 책을 안가져왔군".format(student))
    else :
        print("{}번, 책을 읽으세요".format(student))

1번, 책을 읽으세요
3번, 책을 읽으세요
4번, 책을 읽으세요
6번, 책을 읽으세요
7번은 책을 안가져왔군
8번, 책을 읽으세요
9번, 책을 읽으세요
10번, 책을 읽으세요

In [ ]:
# quiz) 당신은 카카오 서비스를 이용하는 택시기사입니다.
# 50명의 승객과 매칭기회가 있을 때, 총 탑승 승객수를 구하는 프로그램을 작성하시오.

# 조건1: 승객별 운행 소요시간은 5~50분 사이의 난수로 정해집니다.
# 조건2: 당신은 소요시간 5분~15분 사이의 승객만 매칭해야 합니다.
       
# (출력문 예제)
# [0] 1번째 손님 (소요시간 : 15분)
# [ ] 2번째 손님 (소요시간 : 50분)
# [0] 3번째 손님 (소요시간 : 5분)

# 총 탑승 승객 : 2분

# 아래의 함수를 이용해서 푸세요

from random import *
time = randint(5,51)
print("총 탑승 승객 : {}분")

In [266]:
from random import *
count = 0
for i in range(1, 51):
    time = randint(5, 50)
    if time >=5 and time <= 15 :
        print("[0] {}번째 손님 (소요시간 : {}분)".format(i, time))
        count += 1
    else :
        print("[ ] {}번째 손님 (소요시간 : {}분)".format(i, time))
print("총 탑승 승객 : {}분".format(count))

[ ] 1번째 손님 (소요시간 : 43분)
[ ] 2번째 손님 (소요시간 : 18분)
[0] 3번째 손님 (소요시간 : 6분)
[0] 4번째 손님 (소요시간 : 9분)
[ ] 5번째 손님 (소요시간 : 32분)
[ ] 6번째 손님 (소요시간 : 25분)
[ ] 7번째 손님 (소요시간 : 18분)
[ ] 8번째 손님 (소요시간 : 48분)
[ ] 9번째 손님 (소요시간 : 33분)
[ ] 10번째 손님 (소요시간 : 45분)
[0] 11번째 손님 (소요시간 : 5분)
[ ] 12번째 손님 (소요시간 : 26분)
[ ] 13번째 손님 (소요시간 : 46분)
[0] 14번째 손님 (소요시간 : 11분)
[ ] 15번째 손님 (소요시간 : 36분)
[ ] 16번째 손님 (소요시간 : 30분)
[ ] 17번째 손님 (소요시간 : 28분)
[0] 18번째 손님 (소요시간 : 14분)
[0] 19번째 손님 (소요시간 : 10분)
[ ] 20번째 손님 (소요시간 : 23분)
[0] 21번째 손님 (소요시간 : 9분)
[ ] 22번째 손님 (소요시간 : 23분)
[ ] 23번째 손님 (소요시간 : 44분)
[ ] 24번째 손님 (소요시간 : 22분)
[ ] 25번째 손님 (소요시간 : 23분)
[ ] 26번째 손님 (소요시간 : 41분)
[ ] 27번째 손님 (소요시간 : 26분)
[ ] 28번째 손님 (소요시간 : 16분)
[ ] 29번째 손님 (소요시간 : 30분)
[ ] 30번째 손님 (소요시간 : 50분)
[ ] 31번째 손님 (소요시간 : 31분)
[ ] 32번째 손님 (소요시간 : 47분)
[ ] 33번째 손님 (소요시간 : 44분)
[0] 34번째 손님 (소요시간 : 12분)
[ ] 35번째 손님 (소요시간 : 17분)
[0] 36번째 손님 (소요시간 : 11분)
[ ] 37번째 손님 (소요시간 : 21분)
[0] 38번째 손님 (소요시간 : 5분)
[0] 39번째 손님 (소요시간 : 12분)
[0] 40번째 손님 (소요시간 : 12분)
[0] 41번째 손님 (소요시간 : 6분)
[ ] 42번째 손님 (소요시간 : 31분)
[ ] 43번째 손님 (소요시간 : 18분)
[ ] 44번째 손님 (소요시간 : 40분)
[ ] 45번째 손님 (소요시간 : 41분)
[ ] 46번째 손님 (소요시간 : 17분)
[ ] 47번째 손님 (소요시간 : 28분)
[0] 48번째 손님 (소요시간 : 15분)
[ ] 49번째 손님 (소요시간 : 22분)
[ ] 50번째 손님 (소요시간 : 26분)
총 탑승 승객 : 14분

In [270]:
emp = {'hong' : 350, 'lee' : 450, 'kang' : 500}
print(emp['lee'])
print(emp.get('hong'))

# dict 원소 수정
emp['lee'] = 300
print(emp)


# dict 원소 제거
del emp['hong']
print(emp)

# dict 원소 추가
emp['yoo'] = 250
print(emp)

450
350
{'hong': 350, 'lee': 300, 'kang': 500}
{'lee': 300, 'kang': 500}
{'lee': 300, 'kang': 500, 'yoo': 250}

In [274]:
emp = {'hong' : 350, 'lee' : 450, 'kang' : 500}

if 'kang' in emp :
    print('있음')
else :
    print('없음')
    

for name, pay in emp.items() :
    print(f"name : {name} => pay : {pay}")

있음
name : hong => pay : 350
name : lee => pay : 450
name : kang => pay : 500

In [ ]:
# [실습] 문자 빈도수 구하기[1]
charset = ['abc', 'code', 'band', 'band', 'abc']
wc = {}

for ch in charset :

# 위 for 문을 사용하여 각 단어의 출현 개수를 구하시오

In [280]:
charset = ['abc', 'code', 'band', 'band', 'abc']
wc = {}

for ch in charset :
    if ch not in wc :
        wc[ch] = 1
    else :
        wc[ch] += 1
print(wc)

{'abc': 2, 'code': 1, 'band': 2}