In [ ]:
quiz) 학교에서 파이썬 코딩대회를 주최합니다.
참석률을 높이기 위해 댓글 이벤트를 진행하기로 했습니다.
댓글 작성자 중에 추첨을 통해 1명은 치킨 3명은 커피쿠폰을 받게 됩니다.
추첨프로그램을 작성해 주세요

조건1: 편의상 댓글은 20명이 작성하였고 아이디는 1~20이라 가정
조건2 : 댓글 내용과 상관없이 무작위로 추첨하되 중복불가
조건3  :  random 모듈의 shuffle과 sample을 활용

In [ ]:
(출력예제)
-- 당첨자 발표 --
치킨 당첨자 : 1
커피 당첨자 : [2,3,4]
-- 축하합니다.

In [ ]:
활용예제

from random import *
lst = [1,2,3,4,5]
print(lst)
shuffle(lst)
print(lst)
print(sample(lst,1))

In [ ]:
#정답
from random import *

users = range(1,21)
users = list(users)
# 위에 까지가 1~20까지의 정수를 리스트 자료구조에 담는 코드이다.
shuffle(users)
winners = sample(users, 4)
print('-- 당첨자 발표 --')
print('치킨 당첨자 : {}'.format(winners[0]))
print('커피 당첨자 : {}'.format(winners[1:]))
print('-- 축하합니다.--')

In [ ]:
# special contributor: 김연진님, 감사합니다~
import random
for i in range(1, 21) :
    list=[ ]
    while len(list) < 4 :
        number = random.randint(1,21)
        if number not in list :
            list.append(number)
print(list)

In [ ]:
print("hello \nworld")
print("hello \tworld")

In [ ]:
# 문자열 안에 바꿀 내용을 변수처리해서 아래처럼 쓸 수 있습니다.

이름 = "Bob"
나이 = 25
인사문 = "안녕하세요, 제 이름은 %s이고, 나이는 %d세 입니다." % (이름, 나이)
print(인사문)

In [ ]:
# 큰 따옴표 혹은 작은 따옴표 3개는 영역 코멘트 처리

'''
새로 버그가 패치된 스타2 1.23 패치가 나왔습니다.
2023-10-11
아직 배포하진 마세요.
'''

In [ ]:
# 문자열 안에 바꿀 내용을 변수처리해서 아래처럼 쓸 수 있습니다.
이름 = "Bob"
나이 = 25
인사문 = "안녕하세요, 제 이름은 {}이고, 나이는 {}세 입니다.".format(이름, 나이)
print(인사문)

In [ ]:
number = 10
day = "three"
"I ate {1} apples. so I was sick for {0} days.".format(number, day)

In [ ]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

In [ ]:
my_list = [1, 2, 3, 4, 5]
item = my_list[2]  # 3을 가져옴
print(item)

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result = list1 + list2  # [1, 2, 3, 4, 5, 6]
print(result)

In [ ]:
#내가 원소에 4씩 더하고 싶다면?

# 변할 변수의 위치 = 현재 변수의 위치, 하고싶은 연산
my_list[0] = my_list[0] +4
my_list[1] = my_list[1] +4
my_list[2] = my_list[2] +4
print(my_list)

In [ ]:
original_list = [1, 2, 3]
repeated_list = original_list * 3  # [1, 2, 3, 1, 2, 3, 1, 2, 3]
print(repeated_list)

In [ ]:
# 문자열 곱하기 - 해당 문자가 반복 출력된다.
a = [1, 2, 3]
a * 3
x = "----" * 10
print(x)

In [ ]:
# 문자열 연결하기의 응용
# 여러 대기업을 동시에 감사하고 감사 보고서 쓰는 회계사를 상상하자
a = "삼성전자"
b = '의 이번 2023년 3분기 당기 순이익은 2조원 입니다.'
c = 'LG전자'

a + b
c + b

In [ ]:
# 문자열 곱하기 - 해당 문자가 반복 출력된다.

a * 3
x = "----" * 10

In [ ]:
# 변수의 숫자와 문자 데이터는 향후에 SQL 등의 데이터 서버에서 불러올 수 있다.


print(x)
print(a + b)
print(x)

In [ ]:
# 두산그룹의 이번 2023년 3분기 당기 순이익은 2000억원 입니다.

In [ ]:
my_list = [1, 2, 3, 4, 5]
length = len(my_list)  # 5

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list[2] = 6  # [1, 2, 6, 4, 5]
my_list[3] = ""
print(my_list)

In [ ]:
my_list = [1, 2, 3, 4, 5]
del my_list[3]  # [1, 2, 3, 5]

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)  # [1, 2, 3, 4]
print(my_list)

In [ ]:
my_list = [3, 1, 2, 4]
my_list.sort()  # [1, 2, 3, 4]

print(my_list)

In [ ]:
# 내장함수가 없는 세상이라면? (인생 하드모드)
dataset = [3, 5, 1, 2, 4]
n = len(dataset)
for i in range(0, n-1) : # 1 ~ n-1
    for j in range(i+1, n) : # i+1 ~ n-1
        print(i, j, dataset) # 그냥 dataset을 출력하면 내가 어디있는지 잘 몰라
        if dataset[i] > dataset[j] :
            tmp = dataset[i]
            dataset[i] = dataset[j]
            dataset[j] = tmp
print(dataset)

In [ ]:
# (2) 내림차순 정렬 sort 함수 없이 정렬 (2중 for문 사용)
dataset = [3, 5, 1, 2, 4]

n = len(dataset)
for i in range(0, n-1) : # 1 ~ n-1 기준 원소
    for j in range(i+1, n) : # i+1 ~ n-1 비교할 원소
        print(i,  j, dataset)
        if dataset[i] < dataset[j] :
            tmp = dataset[i]
            dataset[i] = dataset[j]
            dataset[j] = tmp
print(i, j, dataset)

In [ ]:
my_list = [1, 2, 3,7 , 11, 4]
my_list.reverse()  # [3, 2, 1]
print(my_list)

In [ ]:
"""  
파이썬 문자열 관련 함수
find, index 함수는 같은기능을 하는데 에러메세지 유형이 다르다.
find는 찾는 문자열이 없으면 -1, 
index는 찾는 문자열이 없으면 에러를 일으킨다.
"""
a = "삼성전자"
b = '의 이번 2023년 3분기 당기 순이익은 2조원 입니다.'
c = 'LG전자'
d = "현재 결과는 미래를 보장해 주지는 않으니 참고하세요..."
e = 3
h = 0.2
j = "wElCome0000"

# 문자개수 세기 
d.count("현") #1
d.count(".") #3

#위치를 알려주기 find, index 함수는 같은기능을 하는데 에러메세지 유형이 다르다.
a.find("현")
#a.index("현")
#문자열 삽입
ttt = " "
ttt.join(j)

#대문자
j.upper()

#소문자
j.lower()

# 문자열 변환

b = '삼성전자의 이번 2023년 3분기 당기 순이익은 2조원 입니다.'
c = 'LG전자'

b.replace("삼성전자", "LG디스플레이") #고치고 싶은 단어, 고칠 단어
b.replace("삼성전자", c)

In [ ]:
# 문자열 나누기

b = '삼성전자의 이번 2023년 3분기 당기 순이익은 2조원 입니다.'
b.split()

In [ ]:
my_list = [1, 2, 3, 4, 2]
index = my_list.index(2)  # 1 (첫 번째로 나타나는 2의 인덱스)
print(index)

In [ ]:
my_list = [1, 2, 3]
my_list.insert(1, 4)  # [1, 4, 2, 3]
print(my_list)

In [ ]:
my_list = [1, 2, 3, 4, 2]
my_list.remove(2)  # [1, 3, 4, 2] (첫 번째로 나타나는 2 제거)
print(my_list)

In [ ]:
my_list = [1, 2, 3]
popped_item = my_list.pop()  # 3, 리스트에서 마지막 항목을 꺼내고 리스트에서 제거

In [ ]:
print(my_list)

In [ ]:
my_list = [1, 2, 3, 2, 2]
count = my_list.count(2)  # 3 (2가 3번 나타남)
print(count)

In [ ]:
my_tuple = (1, 2, 3)
del my_tuple[1]  # TypeError: 'tuple' object doesn't support item deletion

In [ ]:
my_tuple = (1, 2, 3)
my_tuple[1] = 4  # TypeError: 'tuple' object does not support item assignment

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
item = my_tuple[2]  # 3을 가져옴
print(item)

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
sliced_tuple = my_tuple[1:4]  # (2, 3, 4)을 가져옴
print(sliced_tuple)

In [ ]:
my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}

In [ ]:
import pandas as pd
my_dict = {'apple': 2, 'banana': 3}
my_dict['cherry_2'] = [15,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]
# my_dict는 {'apple': 2, 'banana': 3, 'cherry': 5}
df = pd.DataFrame(my_dict)
df
df.to_csv('dddddd.csv')

In [ ]:
my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}
del my_dict['banana']
# my_dict는 {'apple': 2, 'cherry': 5}
print(my_dict)

In [ ]:
my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}
value_of_banana = my_dict['cherry']
# value_of_banana는 3
print(value_of_banana)

In [ ]:
my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}
keys_list = my_dict.keys()  # dict_keys(['apple', 'banana', 'cherry'])
print(keys_list)

In [ ]:
my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}
values_list = my_dict.values()  # dict_values([2, 3, 5])
print(values_list)

In [ ]:
my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}
items_list = my_dict.items()  # dict_items([('apple', 2), ('banana', 3), ('cherry', 5)])
print(items_list)

In [ ]:
my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}
my_dict.clear()  # my_dict는 {}
print(my_dict)

In [ ]:
my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}
value_of_apple = my_dict.get('apple')  # 2
print(value_of_apple)

In [ ]:
my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}
value_of_banana = my_dict['apple']

print(value_of_banana)

In [ ]:
my_dict = {'apple': 2, 'banana': 3, 'cherry': 5}
is_apple_in_dict = 'apple' in my_dict  # True
is_grape_in_dict = 'grape' in my_dict  # False
print(is_grape_in_dict)

In [ ]:
""" 
데이터 자료구조의 이해

리스트: 가변 자료구조, 순서형 구조, 대괄호안에 데이터 들간다 [1, 2, 3]
중복 리스트 가능 [1, 2, [1,2,3]] 이미지 데이터 처리 시 사용 (딥러닝)

딕셔너리 : 가변 자료구조, key와 value로 구성, {"캐릭터": ["마리오", "루이지"], "아이템": "버섯"}
튜플 : 변경 불가능 자료구조, 순서형 구조, 소괄호안에 데이터 들감 (1, 2, 3)

집합 : 가변 자료구조, "비"순서형 구조, 합집합 차집합 여집합 계산 가능

"""

In [ ]:
my_set = {1, 2, 3, 4, 5,1,2,2,2,2,2,2}
print(my_set)

In [ ]:
# 다중 리스트 인덱싱 방법
u = [1, 2, [7,8,9]]

u[0] #1
u[1] #2
u[2] # 7,8,9
u[2][1] #8
u[2][2] #9

In [ ]:
# 원하는 데이터 슬라이싱

u = [1, 2, [7,8,9,["zelle", 777]]]
u[2][3][1]
u[-1][-1][-1]

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
intersection = set1 & set2  # {3, 4, 5}
print(intersection)

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
union = set1 | set2  # {1, 2, 3, 4, 5, 6, 7}
print(union)

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
difference = set1 - set2  # {1, 2}
print(difference)

In [ ]:
my_set = {1, 2, 3}
my_set.update([3, 4, 5])
# my_set는 {1, 2, 3, 4, 5}
print(my_set)

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
# my_set는 {1, 2, 4, 5}
print(my_set)

In [ ]:
"""
자료형의 참과 거짓

파이썬에서는 여러 상황에서 참과 거짓을 판별할 수 있습니다. 
일반적으로 다음과 같은 규칙에 따릅니다:

0, 빈 문자열, 빈 리스트, 빈 튜플, 빈 딕셔너리, None은 거짓(False)으로 간주됩니다.
그 외의 숫자, 문자열, 리스트, 튜플, 딕셔너리, 객체는 참(True)으로 간주됩니다.

"""

In [ ]:
x = True
y = False

result1 = x and y  # False
result2 = x or y   # True
result3 = not x    # False
print(result3)

In [ ]:
# 리스트 정렬 - sort:
# 중간에 문자열 들가면 안되요    
my_list = [3, "3", 2, 4.3476347] #동일한 자료형이어야 된다.
my_list.sort()
my_list

In [ ]:
# 유효숫자의 개념
# 왜 프로그래밍 기초가 중요하고 왜 개발자를 아직도 채용 하는가?

#3.87 * 5.87 하면 소수점 둘째 자리만 인정함
3.870000000003 * 5.869999999999999

In [ ]:
x = 28

if x > 10:
    print("x는 10보다 큽니다.")
elif x > 5:
    print("x는 5보다 큽니다.")
else:
    print("x는 5 이하입니다.")

In [ ]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket :
    print('택시를 타고 가라')
else :
    print('걸어 가라')

In [ ]:
# 다양한 조건을 판단하는 elif
pocket = ['paper', 'cellphone']
card = 1
if 'money' in pocket :
    print("택시를 타고 가라")
else :
    if card :
        print("택시를 타고 가라")
    else :
        print("걸어 가라")

In [ ]:
# if문을 한 줄로 작성하기
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket : print("택시를 타고 가라") 
    # 콜론 옆에 참인 조건을 쓰면 if절이 줄어든다.
else : print("카드를 꺼내라")

In [ ]:
number = 23 # 우리가 원하는 정답
guess = int(input('정수를 입력해 주시기 바랍니다. : ')) 
# input함수로 사용자의 입력을 받는데, 
# input함수는 언제나 문자열 자료구조로 받기 때문에 정수처리 해야한다.
if number == guess:   # 정확히 추측해서 맞춘경우
    print ('축하합니다, 정확히 맞추셨어요.')
elif guess < number:
    print ('아니오, 그거보단 커야해요')
else:
    print ('아니오 그거보단 작아야 해요')
print ('끝났습니다.') # 들여써지는 경우, else구문에 해당 로직이 속하게 된다.
# 즉, 원래 의도인 if 구문 종료 시 '끝났습니다.' 메세지 출력 대신, 
# 내가 정답보다 크게 추측했을 때 (else 조건에 속할 때) 메세지가 뜬다.
# 에러가 나지 않으므로 프론트엔드에서 잡아내기 어려울 수 있다.

In [ ]:
# 왜 int 가 필요한가?
guess = input()
b = guess + 1
b

In [ ]:
# 왜 나는 소수점으로 고통을 받는가?

a = 3.87 * 5.87
a

In [ ]:
a = 3.87 * 5.87
if a == 22.7169 :
    print("택시를 타고 가라")
else :
    print("걸어 가라")

In [ ]:
# while 문 끝에 콜론 : 그리고 그다음 줄 띄어쓰기 4칸
count = 0 # count라는 변수에 최초값 0 부여
while count < 5:
    print("현재 count 값:", count) # 현재 count 상태를 출력
    count = count + 1
    count += 1

In [ ]:
# While문
# while문의 기본 구조
treeHit = 0
while treeHit < 10 :
    treeHit = treeHit + 1
    print('나무를 %d번 찍었습니다.' % treeHit)
    if treeHit == 10 :
        print('나무 넘어갑니다.')

In [ ]:
# while문 강제로 빠져나가기
coffee = 10
money = 300
while True :
    print('돈을 받았으니 커피를 줍니다.')
    coffee = coffee -1 
    #print('남은 커피의 양은 {}개 입니다.'.format(coffee))
    print('남은 커피의 양은 %s개 입니다.' % coffee) # 안전하게 문자열 처리를 하여 출력한다~
    if not coffee :
        print('남은 커피의 양은 %s개 입니다.' % coffee)
        print('커피가 다 떨어졌습니다. 판매를 중지합니다.')
        break

In [ ]:
# while문 강제로 빠져나가기
coffee = 10
money = 300
while money :
    print('돈을 받았으니 커피를 줍니다.')
    money = money -30
    coffee = coffee -1
    print('남은 커피의 양은 %d개 입니다.' % coffee)
    if money == 0 :
        print('커피가 다 떨어졌습니다. 판매를 중지합니다.')

In [ ]:
number = 23 # 우리가 원하는 정답
guess = int(input('정수를 입력해 주시기 바랍니다. : ')) 
# input함수로 사용자의 입력을 받는데, 
# input함수는 언제나 문자열 자료구조로 받기 때문에 정수처리 해야한다.
if number == guess:   # 정확히 추측해서 맞춘경우
    print ('축하합니다, 정확히 맞추셨어요.')
elif guess < number:
    print ('아니오, 그거보단 커야해요')
else:
    print ('아니오 그거보단 작아야 해요')
print ('끝났습니다.') # 들여써지는 경우, else구문에 해당 로직이 속하게 된다.
# 즉, 원래 의도인 if 구문 종료 시 '끝났습니다.' 메세지 출력 대신, 
# 내가 정답보다 크게 추측했을 때 (else 조건에 속할 때) 메세지가 뜬다.
# 에러가 나지 않으므로 프론트엔드에서 잡아내기 어려울 수 있다.

In [ ]:
number = 23
running = True
while running:
    guess = int(input('정수를 입력해 주세요 : '))
    if guess == number:
        print ('축하드려요 맞추셨네요.')

        running = False
    elif guess < number:
        print ('그거보다 커요.')
    else:
        print ('그거보다 작아요.')
else:
    print ('The while 문이 끝났습니다.')

print ('끗')

In [ ]:
# quiz: continue를 사용해서 코드를 바꿔서 
# 현재 count 값: 4 도 출력되게 프로그램을 바꿔주세요

count = 0
while count < 5:
    if count == 3:
        break
    print("현재 count 값:", count)
    count += 1

In [ ]:
count = 0
while count < 5:
    if count == 3:
        count += 1 # 건너뛰기 전에 4를 만드려고 추가
        continue
    else: # 3 이 아닌 다른케이스: 건너뛰지 않았을 때
        print("현재 count 값:", count)
    count += 1

In [ ]:
# 1에서 9까지 정수에서 while이랑 if 써서 홀수만 출력해 주세요
# 힌트는 홀수는 출력하고 짝수는 건너뛰는 것입니다.

a = 0
while a < 10:
    a += 1
    if a % 2 == 0: #짝수는 2로 나눴을 때 나머지가 0이다.
        continue
    else:
        print(a)

In [1]:
# for문의 기본 구조
test_list = ['one', 'two', 'three'] # 데이터를 정의
for i in test_list :
    print(i) #내가 하고싶은 작업

one
two
three

In [2]:
# 데이터 셋이 문자열 단어면 글자별로 탐색해서 작업한다.
text = "Hello"
for char in text:
    print(char + "___")

H___
e___
l___
l___
o___

In [ ]:
#a = [1,2,3,4,5]

a = range(1,101)
a = list(a)
print(a)

In [ ]:
numbers = [0, 1, 2, 3, 4, 5]
for number in numbers:
    if number == 3:
        continue
    print("현재 count 값:", number)

In [ ]:
"""
while 문은 조건이 변하기 전까지 작업을 반복하므로 
while문에서는 작업 수행의 범위를 지정하는 로직이 포함되어야 한다. (무한루프 방지)
반면 for문은 데이터셋의 범위 내에서 모든 원소에 대해 반복 작업을 수행해야 하므로 
작업을 멈추는 로직이 없어도 데이터셋의 범위 자체가 이미 작업의 범위를 지정하는 것이다.
"""

In [3]:
# 다양한 for문의 사용
a = [(1, 2), (3, 4), (5, 6)]
for (first, last) in a :
    print(first + last)

3
7
11

In [5]:
# 다양한 for문의 사용
a = [(1, 2), (3, 4), (5, 6)]
for ㅋㅋㅋ in a :
    print(ㅋㅋㅋ )

(1, 2)
(3, 4)
(5, 6)

In [ ]:
"""
5명의 학생 점수를 하나씩 꺼내서 60점 이상은 "합격"이라 출력하고 
60점 미만은 "불합격"으로 출력해 주세요
예) 1번학생 합격, 2번학생 불합격
"""
marks = [90, 25, 67, 45, 80]
number = 1 #학생 번호를 부여함
for i in marks: #데이터 셋 안에 원소를 하나씩 끄집어 내기

    if i >= 60: # 60점 이상 (조건문)
        print('%d번 학생은 합격' % number)
    else:  # if 반대의 경우
        print('%d번 학생은 불합격' % number)
    number += 1 # 학생별로 1~5번까지 번호부여

In [ ]:
# 이중 for문 : 개별 원소에 대해 추가적인 반복연산 가능
for i in range(2, 10): # 2에서 9단까지 구구단의 몇'단' 설정
    for j in range(1, 10): # 각 구구단의 계산
        print(f"{i} x {j} = {i * j}")

In [ ]:
# for문은 한줄에 쓸 수 있다.
numbers = [1, 2, 3, 4, 5]
squares = [x**2 for x in numbers] # 하고싶은 작업 for 원소 in 데이터셋
squares

In [ ]:
numbers = [1, 2, 3, 4, 5]
for x in numbers:
    print(x**2)

In [ ]:
result = [x*y for x in range(2,10) for y in range(1,10)]
print(result)

In [ ]:
for i in range(2, 10): # 2에서 9단까지 구구단의 몇'단' 설정
    for j in range(1, 10): # 각 구구단의 계산
        print(i * j)

In [6]:
#  {key : [val1, val2]} - {'영화' : [평점, 관객수 = 만명]}
movie = {'광해' : [9.24, 1200], '공작' : [7.86, 500], '관상' : [8.01, 900],}

# # for문으로 딕셔너리에서 key값들만 한줄씩 출력해 주세요
# for xx in movie.keys():
#     print(xx)

# # for문으로 딕셔너리에서 value값들만 한줄씩 출력해 주세요
# for yy in movie.values():
#     print(yy)

# for문으로 딕셔너리에서 key랑 value값 둘 다 한줄씩 출력해 주세요
for zz, k in movie.items():
    print(zz, k)

for k in movie.items():
    print(k)

광해 [9.24, 1200]
공작 [7.86, 500]
관상 [8.01, 900]
('광해', [9.24, 1200])
('공작', [7.86, 500])
('관상', [8.01, 900])

In [ ]:
#  {key : [val1, val2]} - {'영화' : [평점, 관객수]}
movie = {'광해' : [9.24, 1200], '공작' : [7.86, 500], '관상' : [8.01, 900],}

#  문] 평점 8이상인 영화들의 제목과 합산관객수 출력하기 
'''
광해
관상
누적 관객수 =  2,100
'''    

아래의 코드를 참고해서 푸세요
# for문으로 딕셔너리에서 key랑 value값 둘 다 한줄씩 출력해 주세요
for zz, k in movie.items():
    print(zz, k)

for k in movie.items():
    print(k)

In [7]:
#  {key : [val1, val2]} - {'영화' : [평점, 관객수]}
movie = {'광해' : [9.24, 1200], '공작' : [7.86, 500], '관상' : [8.01, 900],}

tot = 0 #관객수
for zz, k in movie.items(): # 데이터 셋 내부 개별 데이터 호출
    if k[0] >= 8: # 데이터 안에 평점이 담긴 위치를 호출
        print(zz) # 영화제목을 출력함
        tot += k[1]
print(tot)

광해
관상
2100

In [8]:
# 1-45 중의 정수를 무작위로 6개뽑아서 리스트 자료에 넣어서 보여주세요
# 로또 프로그램

import random # 무작위 수를 추출하는 모듈입니다.
r = [] # 빈 리스트 자료구조를 생성합니다. 뽑은 번호를 넣어야 하니까요.
for i in range(6): # 6개의 숫자를 뽑습니다.
    r.append(random.randint(1,46)) # random.randint(1,46) 는 1~45 정수중에 하나 무작위로 추출

print(r) # 결과출력

[34, 40, 18, 20, 22, 45]

In [ ]:
# 지금 코드 참고해서 중복없이 만들어 보기
import random
for i in range(20) :
    list=[ ]
    while len(list) < 4 :
        number = random.randint(1,20)
        if number not in list :
            list.append(number)
print(list)

In [9]:
import random
results = {} # 최종 복권결과를 저장하는 자료구조 선언
for i in range(10): #복권 10장
    r = [] # 개별 복권 결과를 저장하는 자료구조 선언

    while len(r) < 6: #당첨 숫자 6개가 나올때 까지 계속 로직 돌리세요
        number = random.randint(1, 45) # 1부터 45까지 정수 중에 하나 선택
        if number not in r:  # 중복된 숫자가 있는지 체크하기
            r.append(number)  # 중복된 숫자가 아닌경우 당첨숫자에 추가
        results[i] = r #만들어진 당첨 복권 세트 하나씩 최종 결과에 추가
print(results)     # 결과출력

{0: [20, 40, 14, 4, 18, 26], 1: [32, 9, 44, 19, 2, 24], 2: [8, 35, 29, 20, 1, 14], 3: [4, 11, 43, 44, 28, 25], 4: [11, 33, 31, 44, 1, 12], 5: [21, 23, 17, 33, 45, 18], 6: [5, 16, 1, 6, 17, 24], 7: [9, 8, 12, 24, 21, 2], 8: [12, 31, 21, 29, 22, 1], 9: [18, 11, 21, 40, 27, 3]}

In [ ]:
# 로또 10세트를 진행해서 딕셔너리 자료구조에 넣어서 보여주세요
# 로또는 중복추출이 안되서... 중복추출 방지한 명령어로 다시 보입니다.
# 문제: 개별결과 set을 정렬해서 보여주세요
import random

results = {}
for j in range(10):
    r = random.sample(range(1,46),6)
    r.sort() # 정렬시킴
    results[j] = r
print(results)

In [ ]:
# 정렬알고리즘에서 오름차순 알고리즘을 사용하여
# 아래 5개 데이터셋의 정렬작업을 순차적으로 진행하여 주시기 바랍니다.
#맨 위에 for문 하나만 더 쓰면 됩니다.

dataset_1 = [3, 5, 1, 2, 4]
dataset_2 = [3, 11, 77, 32, 99]
dataset_3 = [3, 75645, 32, 2, 666]
dataset_4 = [3, 32, 1, 666, 4]
dataset_5 = [323, 5, 7, 2, 666]
datasets = [dataset_1, dataset_2, dataset_3, dataset_4, dataset_5 ]


for dataset in datasets:
    n = len(dataset)
    for i in range(0, n-1) : # 1 ~ n-1
        for j in range(i+1, n) : # i+1 ~ n-1
            #print(i, j, dataset) # 그냥 dataset을 출력하면 내가 어디있는지 잘 몰라
            if dataset[i] > dataset[j] :
                tmp = dataset[i]
                dataset[i] = dataset[j]
                dataset[j] = tmp
print(datasets)

In [ ]:
# 1~10번 학생 중 결석한 학생을 제외하고 (결석자는 2,5번)  
# 아래의 메세지를 출력해 주세요.

1 번, 책을 읽으세요
3 번, 책을 읽으세요
4 번, 책을 읽으세요
6 번, 책을 읽으세요
7 번, 책을 읽으세요
8 번, 책을 읽으세요

In [ ]:
for student in range(1,11):
    if student ==2 or student ==5:
        continue
    else:
        print("{}번, 책을 읽으세요".format(student))

In [10]:
absent = [2,5]
for student in range(1,11):
    if student in absent:
        continue
    print("{}번, 책을 읽으세요".format(student))

1번, 책을 읽으세요
3번, 책을 읽으세요
4번, 책을 읽으세요
6번, 책을 읽으세요
7번, 책을 읽으세요
8번, 책을 읽으세요
9번, 책을 읽으세요
10번, 책을 읽으세요

In [ ]:
# 위의 문제에서 7번학생이 책을 가져오지 않았습니다.
#7번학생을 만나면 "7번은 책을 안가져왔군" 이란 말이 나오도록 
#코드를 수정해 주세요

In [15]:
absent = [2,5]
no_book = [7]
for student in range(1,11):
    if student in absent:
        continue
    elif student in no_book:
        print("{}번은 책을 안가져왔군".format(student))
    else:
        print("{}번, 책을 읽으세요".format(student))

1번, 책을 읽으세요
3번, 책을 읽으세요
4번, 책을 읽으세요
6번, 책을 읽으세요
7번은 책을 안가져왔군
8번, 책을 읽으세요
9번, 책을 읽으세요
10번, 책을 읽으세요

In [ ]:
quiz) 당신은 카카오 서비스를 이용하는 택시기사입니다.
50명의 승객과 매칭기회가 있을 때, 총 탑승 승객수를 구하는 프로그램을 작성하시오.

조건1: 승객별 운행 소요시간은 5~50분 사이의 난수로 정해집니다.
    조건2: 당신은 소요시간 5분~15분 사이의 승객만 매칭해야 합니다.
        
(출력문 예제)
[0] 1번째 손님 (소요시간 : 15분)
[ ] 2번째 손님 (소요시간 : 50분)
[0] 3번째 손님 (소요시간 : 5분)

총 탑승 승객 : 2분

In [16]:
from random import *
cnt = 0
for i in range(1,51):
    time = randint(5,50)
    if 5 <= time <= 15:
        print("[0] {}번째 손님 (소요시간 : {}분)".format(i, time))
        cnt += 1
    else: 
        print("[ ] {}번째 손님 (소요시간 : {}분)".format(i, time))

print("총 탑승 승객 : {}분".format(cnt))

[ ] 1번째 손님 (소요시간 : 35분)
[ ] 2번째 손님 (소요시간 : 22분)
[ ] 3번째 손님 (소요시간 : 48분)
[ ] 4번째 손님 (소요시간 : 45분)
[ ] 5번째 손님 (소요시간 : 37분)
[ ] 6번째 손님 (소요시간 : 27분)
[ ] 7번째 손님 (소요시간 : 38분)
[ ] 8번째 손님 (소요시간 : 17분)
[ ] 9번째 손님 (소요시간 : 31분)
[ ] 10번째 손님 (소요시간 : 49분)
[ ] 11번째 손님 (소요시간 : 46분)
[0] 12번째 손님 (소요시간 : 13분)
[ ] 13번째 손님 (소요시간 : 20분)
[ ] 14번째 손님 (소요시간 : 25분)
[0] 15번째 손님 (소요시간 : 13분)
[ ] 16번째 손님 (소요시간 : 49분)
[ ] 17번째 손님 (소요시간 : 41분)
[ ] 18번째 손님 (소요시간 : 51분)
[0] 19번째 손님 (소요시간 : 7분)
[ ] 20번째 손님 (소요시간 : 26분)
[ ] 21번째 손님 (소요시간 : 29분)
[0] 22번째 손님 (소요시간 : 7분)
[ ] 23번째 손님 (소요시간 : 34분)
[ ] 24번째 손님 (소요시간 : 19분)
[ ] 25번째 손님 (소요시간 : 31분)
[ ] 26번째 손님 (소요시간 : 29분)
[ ] 27번째 손님 (소요시간 : 37분)
[0] 28번째 손님 (소요시간 : 15분)
[ ] 29번째 손님 (소요시간 : 16분)
[ ] 30번째 손님 (소요시간 : 21분)
[0] 31번째 손님 (소요시간 : 14분)
[ ] 32번째 손님 (소요시간 : 40분)
[ ] 33번째 손님 (소요시간 : 18분)
[ ] 34번째 손님 (소요시간 : 33분)
[ ] 35번째 손님 (소요시간 : 26분)
[0] 36번째 손님 (소요시간 : 7분)
[0] 37번째 손님 (소요시간 : 8분)
[ ] 38번째 손님 (소요시간 : 25분)
[ ] 39번째 손님 (소요시간 : 33분)
[0] 40번째 손님 (소요시간 : 10분)
[ ] 41번째 손님 (소요시간 : 22분)
[ ] 42번째 손님 (소요시간 : 49분)
[ ] 43번째 손님 (소요시간 : 23분)
[ ] 44번째 손님 (소요시간 : 36분)
[ ] 45번째 손님 (소요시간 : 32분)
[ ] 46번째 손님 (소요시간 : 21분)
[ ] 47번째 손님 (소요시간 : 44분)
[ ] 48번째 손님 (소요시간 : 35분)
[ ] 49번째 손님 (소요시간 : 38분)
[ ] 50번째 손님 (소요시간 : 32분)
총 탑승 승객 : 9분

In [21]:
emp = {'hong' : 350, 'lee' : 450, 'kang' : 550}

print(emp['lee'])
print(emp.get('hong')) # 350

# dict 원소 수정 
emp['lee'] = 300
print(emp)

# dict 원소 제거 
del emp['hong']
print(emp) 

# dict 원소 추가 
emp['yoo'] = 250
print(emp) # {'lee': 300, 'kang': 550, 'yoo': 250}

450
350
{'hong': 350, 'lee': 300, 'kang': 550}
{'lee': 300, 'kang': 550}
{'lee': 300, 'kang': 550, 'yoo': 250}

In [ ]:
'''
key = input('찾을 키 : ')

# 형식) if value in object :
if key in person :  
    print(key + ' 있어요')
    print(person[key])
else :
    print(key + ' 없어요')
'''

In [23]:
emp = {'hong' : 350, 'lee' : 450, 'kang' : 550}

if 'kang' in emp : 
    print('있음')
else : 
    print('없음')

for name, pay in emp.items():
    print(f"name : {name} => pay {pay}")

있음
name : hong => pay 350
name : lee => pay 450
name : kang => pay 550

In [ ]:
# [실습] 문자 빈도수 구하기[1]
charset = ['abc', 'code', 'band', 'band', 'abc']
wc = {}

for ch in charset :

위 for 문을 사용하여 각 단어의 출현 개수를 구하시오