In [ ]:
# 데이터 형: 문자형 숫자형 - 정수, 실수

In [ ]:
# 정수형

a = 123
a = -178
a = 0

In [ ]:
# 실수형

a = 1.2
a = -3.45

In [5]:
# 계산

a = 3
b = 4

a + b
a - b
a * b
a / b

# 제곱은 어떻게?

a ** b

81

In [7]:
# 나눗셈 후 나머지

a % b

1

In [8]:
# 나눗셈 후 몫

a // b

0

In [ ]:
# 문자열 - 큰 따옴표 혹은 작은 따옴표

"윤석열 대통령"
'윤석열 대통령'

In [ ]:
# 큰 따옴표 혹은 작은 따옴표 3개는 영역 코멘트 처리

'''
새로 버그가 패치된 스타2 1.23 패치가 나왔습니다.
2023-10-11
아직 배포하진 마세요.
'''

In [10]:
# 문자열 연결하기

a = "윤석열 "
b = "대통령"

a+b

IndentationError: unexpected indent (1721529312.py, line 3)

In [14]:
# 문자열 연결하기의 응용

a = "삼성전자"
b = '의 이번 2023년 3분기 당기 순이익은 2조원 입니다.'
c = 'LG전자'

a + b
c + b

'LG전자의 이번 2023년 3분기 당기 순이익은 2조원 입니다.'

In [19]:
# 문자열 곱하기 - 해당 문자가 반복 출력된다.

a * 3
x = "----" * 10

In [21]:
# 변수의 숫자와 문자 데이터는 향후에 SQL 등의 데이터 서버에서 불러올 수 있다.


print(x)
print(a + b)
print(x)

----------------------------------------
삼성전자의 이번 2023년 3분기 당기 순이익은 2조원 입니다.
----------------------------------------

In [99]:
# 문자의 인덱싱 - 원하는 요소를 끌어오기
a = "윤석열_대통령"

a[:4] #윤
#a[1] #석

#a[6] # 띄어쓰기도 글자로 인식합니다.

'윤석열_'

In [28]:
#문자의 슬라이싱 - 콜론 : 을 사용하여 범위에 속한 글자 가져오기

a[:3] #4번째 글자 미만까지 가져오기
a[:]  # 전체 다 가져오기
# "대통령 글자만 가져오려면?"
a[4:]
# 왜 이렇게 나왔을까요? - 마지막 글자 미만
a[:-1]

'윤석열 대통'

In [33]:
a[:3]

'윤석열'

In [36]:
"""  
문자열 데이터 처리 응용
원하는 위치에 %s, %d, %f 등을 사용해서 문자열 데이터 처리합니다. 뒤에 사용할 변수 부분에 %로 처리합니다.
%s = 문자열 변수 넣을 때
%d = 정수형 변수 넣을 때
%f = 정수형 변수 넣을 때
"""

a = "삼성전자"
b = '의 이번 2023년 3분기 당기 순이익은 2조원 입니다.'
c = 'LG전자'
d = "현재 결과는 미래를 보장해 주지는 않으니 참고하세요"

p = '%s 의 이번 2023년 3분기 당기 순이익은 2조원 입니다. %s' %(a, d)
print(p)

삼성전자 의 이번 2023년 3분기 당기 순이익은 2조원 입니다. 현재 결과는 미래를 보장해 주지는 않으니 참고하세요

In [45]:
a = "삼성전자"
b = '의 이번 2023년 3분기 당기 순이익은 2조원 입니다.'
c = 'LG전자'
d = "현재 결과는 미래를 보장해 주지는 않으니 참고하세요"
e = 3
h = 0.2

p = '{} 의 이번 2023년 3분기 당기 순이익은 {}조원 입니다. {}'.format(a,e,d)
p_2 = '{} 의 이번 2023년 3분기 당기 순이익은 {}조원 입니다. {}'.format(c,h,d)
print(p)
print(p_2)

삼성전자 의 이번 2023년 3분기 당기 순이익은 3조원 입니다. 현재 결과는 미래를 보장해 주지는 않으니 참고하세요
0.2 의 이번 2023년 3분기 당기 순이익은 현재 결과는 미래를 보장해 주지는 않으니 참고하세요조원 입니다. LG전자

In [61]:
"""  
파이썬 문자열 관련 함수
find, index 함수는 같은기능을 하는데 에러메세지 유형이 다르다.
find는 찾는 문자열이 없으면 -1, 
index는 찾는 문자열이 없으면 에러를 일으킨다.
"""
a = "삼성전자"
b = '의 이번 2023년 3분기 당기 순이익은 2조원 입니다.'
c = 'LG전자'
d = "현재 결과는 미래를 보장해 주지는 않으니 참고하세요..."
e = 3
h = 0.2
j = "wElCome0000"

# 문자개수 세기 
d.count("현") #1
d.count(".") #3

#위치를 알려주기 find, index 함수는 같은기능을 하는데 에러메세지 유형이 다르다.
a.find("현")

#문자열 삽입
ttt = " "
ttt.join(j)

#대문자
j.upper()

#소문자
j.lower()

# 문자열 변환

b = '삼성전자의 이번 2023년 3분기 당기 순이익은 2조원 입니다.'
c = 'LG전자'

b.replace("삼성전자", "LG디스플레이") #고치고 싶은 단어, 고칠 단어
b.replace("삼성전자", c)

'LG전자의 이번 2023년 3분기 당기 순이익은 2조원 입니다.'

In [63]:
# 문자열 나누기

b = '삼성전자의 이번 2023년 3분기 당기 순이익은 2조원 입니다.'
b.split()

['삼성전자의', '이번', '2023년', '3분기', '당기', '순이익은', '2조원', '입니다.']

In [71]:
# 문자열 교체 (replace를 모르는 인생 하드모드)
# 내부 함수를 숙지하지 않으면 문제 해결 능력이 축소된다.

b = "삼성전자의 이번 2023년 3분기 당기 순이익은 2조원 입니다."
f = "Lg 전자"
xxx = f + b[4:]

print(xxx)

Lg 전자의 이번 2023년 3분기 당기 순이익은 2조원 입니다.

In [ ]:
""" 
데이터 자료구조의 이해

리스트: 가변 자료구조, 순서형 구조, 대괄호안에 데이터 들간다 [1, 2, 3]
중복 리스트 가능 [1, 2, [1,2,3]] 이미지 데이터 처리 시 사용 (딥러닝)

딕셔너리 : 가변 자료구조, key와 value로 구성, {"캐릭터": ["마리오", "루이지"], "아이템": "버섯"}
튜플 : 변경 불가능 자료구조, 순서형 구조, 소괄호안에 데이터 들감 (1, 2, 3)

집합 : 가변 자료구조, "비"순서형 구조, 합집합 차집합 여집합 계산 가능

"""

In [77]:

u = [1, 2, [7,8,9]]

u[0] #1
u[1] #2
u[2] # 7,8,9
u[2][1] #8
u[2][2] #9

9

In [78]:
u = [1, 2, [7,8,9,["zelle"]]]
u[2][3][0]

'zelle'

In [103]:
# 원하는 데이터 슬라이싱

u = [1, 2, [7,8,9,["zelle", 777]]]
u[:2]
u[-1][-1][-1]

777

In [87]:
""" 
행렬의 연산
행렬전체에 1씩 더하는 방법은?
"""

r = [1,2,3]
k = [4,5,6]

#r + 1 #이거 어떻게 되는지 돌려보세요
# 이게 해결방법인데 물론 인생 하드모드입니다. 추후에 방법 설명
r[0] = 2
r[1] = 3
r[2] = 4

print(r)

# 두 리스트의 확장
r + k

[2, 3, 4]

[2, 3, 4, 4, 5, 6]

In [90]:
# 리스트에서 원소삭제

r[0] = []
r

[[], 3, 4]

In [96]:
#r = [1,2,3]

del r[0]

r

[]