In [ ]:
#아래처럼 출력 되도록 for문을 써서 코딩해 주세요
#처음에는 빈칸을 출력하고요, 그다음부터 결과를 하나씩 넣어서 출력 가능

a = [1,2,3,4]
result = []

for i in a: # for문을 호출해서 데이터 셋 안에 데이터를 하나씩 끄집어낸다.
    print(result)
    k = i *3
    result.append(k)
    

"""
[]
[3]
[3, 6]
[3, 6, 9]
"""

In [ ]:
result = []
for x in range(2,10):
    for y in range(1,10):
        z = x*y
        result.append(z)

print(result)

In [ ]:
# 어제 배운 1줄 for문 완성해 주세요
result = [x*y for x in range(2,10) for y in range(1,10)]
print(result)

In [ ]:
lst = [1,2,3,4,5]
for i in lst :
    print(lst[i-1:]) #여기를 바꿔서 아래처럼

'''
[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[3, 4, 5]
[4, 5]
[5]
'''

In [ ]:
# 직급별로 단어 숫자 세서 딕셔너리에 저장해 주세요.
# for문과 if문의 적절한 조화로 문제 푸시면 됩니다.
그룹연락처 = ['과장', '부장', '대리', '사장', '대리', '과장']
삼성전기 = {} # 결과 저장할 딕셔너리 지정

for ch in 그룹연락처 : #데이터 셋 안의 데이터 하나씩 끄집어 내기
    print(삼성전기) 
    if ch in 삼성전기 : #결과 데이터 셋 내부에 끄집어낸 데이터가 있다면
        삼성전기[ch] += 1  # 직급 key 데이터에 사람수 value 1 더하기
    else :
        삼성전기[ch] = 1 # 결과데이터셋에 해당 데이터가 없다면 직급 key 데이터 생성 + 사람수 value 1 지정
        
print(삼성전기)

In [ ]:
student = ["윤석열", "김건희", "한동훈"]
numbers = 0

for i in student:
    print("%d 번학생 %s" %(numbers, i))
    numbers += 1

In [ ]:
# 학생 고유번호를 부여하려고 numbers 계산을 했는데 
# 인덱스를 다이렉트로 불러서 numbers 계산을 안함
student = ["윤석열", "김건희", "한동훈"]
for i in student:
    print("%d 번학생 %s" % (student.index(i), i))

In [ ]:
"""
5명의 학생 점수를 하나씩 꺼내서 60점 이상은 "합격"이라 출력하고 
60점 미만은 "불합격"으로 출력해 주세요
예) 1번학생 합격, 2번학생 불합격
"""
marks = [90, 25, 67, 45, 80]
number = 0 #학생 번호를 부여함
for i in marks: #데이터 셋 안에 원소를 하나씩 끄집어 내기
    number += 1 # 학생별로 1~5번까지 번호부여
    if i >= 60: # 60점 이상 (조건문)
        print('%d번 학생은 합격' % number)
    else:  # if 반대의 경우
        print('%d번 학생은 불합격' % number)

In [ ]:
# 각 학생들의 점수입니다. 60점 이상 받은 학생들은 합격이라 출력해 주시고 
# 60점 미만 학생들은 불합격이라고 출력해 주세요.
marks = [90, 25, 67, 45, 80]
number = {}
for i in marks:
    if i >= 60:
        number[marks.index(i)] = i
        print("%d번 학생은 합격입니다" % (marks.index(i)+1))
    else:
        print("%d번 학생은 불합격입니다" % (marks.index(i)+1))
print(number)

In [ ]:
'''
q1. 다음 코드의 결과값은 무엇일까?
'''

a = "Life is too short, you need a python"

1. if "wife" in a : print("wife")
2. elif "pyton" in a and "you" not in a : print("python")
3. elif "shirt" not in a : print("shirt")
4. elif "need" in a : print("need")
5. else : print("none")

In [ ]:
user_input = input("이름을 입력하세요: ")
print("안녕하세요, " + user_input + "님!")

In [ ]:
message = "Hello, " + "World!"
print(message)

In [ ]:
name = "Alice"
age = 30
print("이름:", name, "나이:", age)

In [ ]:
print("한 줄에 출력", end=", ")
print("계속 출력")

In [6]:
import practice_zzang.profit as day4_tired

day4_tired.my_profit(10000, 1000, 0.22, 400)

6620.0

In [ ]:
def say_hello():
    print("광복절입니다. 할인 이벤트 알리익스프레스")

In [9]:
def greet(name, age):
    print(f"Hello, {name}! You are {age} years old.")

greet("Alice", 30)    
greet(age=30, name="Alice")  # 매개변수를 지정하여 호출

Hello, Alice! You are 30 years old.
Hello, 30! You are Alice years old.

In [10]:
print(greet("Alice", 30) )

Hello, Alice! You are 30 years old.
None

In [14]:
# 입력값 3개를 받아서 더해주는 식을 함수로 씀
def sum_many(x, y, z):
    a = x+y+z
    return a

result = sum_many(1, 2, 3)
result

6

In [15]:
# 근데 입력값 5개 7개 99개 이런식으로 늘어나면?????

In [19]:
#가변 인수는 변수앞에 * 붙이면 됨 (같은 데이터 타입)
def add(*args):
    result = 0
    for num in args:
        result += num
    return result

total = add(1, 2, 3, 4, 5, 6, 7)  # 임의의 개수의 인수 전달
total

28

In [1]:
# 여기에 로직 추가해서 나눗셈 기능 넣으세요
def sum_mul(choice, *args) :
    if choice == 'sum' :
        result = 0
        for i in args :
            result = result + i
    elif choice == 'mul' :
        result = 1
        for i in args :
            result = result * i
    elif choice == 'div' :
        result = 1
        for i in args :
            result = result / i
    return result
result = sum_mul('div', 1, 2, 3, 4, 5)
print(result)

0.008333333333333333

In [25]:
# 여러 결과를 한번에 나타낼 수 있다.
def sum_and_mul(a, b) :
    return a + b, a * b

result = sum_and_mul(3, 4) # (7, 12)
result
sum, mul = sum_and_mul(3, 4) # 결과를 하나씩 쪼개서 받을 수 있다.
_, mul = sum_and_mul(3, 4)

12

In [26]:
def sum_and_mul(a, b) :
    return a + b
    return a * b # 무시

result = sum_and_mul(2, 3)
result

5

In [31]:
# 입력 인수에 초깃값 미리 설정하기
# 남초 회사를 상상하자
# 초기값은 뒤에서 부터 설정해야 됩니다.
def say_myself(name, old=42, man) :
    print('나의 이름은 %s입니다.' % name)
    print('나이는 %d살 입니다.' % old)
    if man :
        print('남자입니다.')
    else:
        print('여자입니다.')

say_myself("박상진", 40, True)

SyntaxError: non-default argument follows default argument (1203433980.py, line 3)

In [32]:
# 딕셔너리 자료구조에 한해 **를 사용해서 가변변수 설정가능
def person_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

person_info(name="Alice", age=30, city="New York")

name: Alice
age: 30
city: New York

In [34]:
data = [{'name': 'Alice', 'age': 30}, {'name': 'Bob', 'age': 25}, {'name': 'Charlie', 'age': 35}]
sorted_data = sorted(data, key=lambda x: x['age'])
# 주어진 데이터를 기준으로 각 딕셔너리 데이터셋에서 key값 age를 확인하여 
# sort함수를 통해 오름차순 정렬합니다
sorted_data

[{'name': 'Bob', 'age': 25},
 {'name': 'Alice', 'age': 30},
 {'name': 'Charlie', 'age': 35}]

In [36]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
# number 데이터 셋에서 개별 원소를 꺼내서 
# 2로 나눈 나머지가 0인것만 filter함수를 통해 포함시킵니다
even_numbers

[2, 4, 6, 8, 10]

In [ ]:
"""
주의할 점:

람다 함수의 한계: 람다 함수는 단순한 함수에만 사용해야 합니다. 
복잡한 함수나 여러 줄의 코드를 포함하는 함수를 람다로 정의하면 
코드의 가독성이 떨어지고 유지보수가 어려워집니다.


가독성: 람다 함수는 간단한 경우에만 사용해야 하며, 
함수의 이름과 문서화가 빠져 있어 가독성이 떨어질 수 있습니다. 
따라서 의미 있는 함수일 경우에는 명시적인 함수 정의를 고려해야 합니다.

람다 함수는 파이썬에서 코드를 간결하게 작성할 때 유용하지만, 
복잡한 작업에는 일반 함수를 사용하는 것이 더 좋을 수 있습니다.

"""

In [ ]:
# [실습] 문자 빈도수 구하기[1] 
charset = ['abc', 'code', 'band', 'band', 'abc']
wc = {}