In [3]:
count = 0
while count < 5 :
    if count == 3 :
        break
    print("현재 count 값 : ", count)
    count += 1

현재 count 값 :  0
현재 count 값 :  1
현재 count 값 :  2

In [5]:
# quiz : continue를 사용해서 코드를 바꿔서 
# 현재 count 값 : 4도 출력되게 프로그램 변경

count = 0
while count < 5 :
    if count == 3 :
        count += 1
        continue
    print("현재 count 값 : ", count)
    count += 1

현재 count 값 :  0
현재 count 값 :  1
현재 count 값 :  2
현재 count 값 :  4

In [6]:
# quiz : continue를 사용해서 코드를 바꿔서 
# 현재 count 값 : 4도 출력되게 프로그램 변경

count = 0
while count < 5 :
    if count == 3 :
        count += 1 # 건너뛰기 전에 4를 만드려고 추가
        continue
    else : #  3이 아닌 다른 케이스 건너뛰지 않았을 때
        print("현재 count 값 : ", count)
    count += 1

현재 count 값 :  0
현재 count 값 :  1
현재 count 값 :  2
현재 count 값 :  4

In [8]:
# 1에서 9까지 정수에서 홀수만 출력 - while, if만 사용

a = 0
while a < 10 :
    a += 1
    if a % 2 != 0 :
        print(a)

1
3
5
7
9

In [9]:
a = 0
while a < 10:
    a += 1
    if a % 2 == 0 :
        continue
    else : 
        print(a)

1
3
5
7
9

In [12]:
# for문의 기본 구조
test_list = ['one', 'two', 'three'] # 데이터를 정의
for i in test_list : # 변수 이름 i 말고 다른 것 사용해도 상관 없음
    print(i)

one
two
three

In [13]:
# 데이터 셋이 문자열 단어면 글자별로 탐색해서 작업

text = "Hello"
for char in text :
    print(char)

H
e
l
l
o

In [14]:
# a = [1, 2, 3, 4, 5]

a = range(1, 6) # 1에서 6 미만
a = list(a)
print(a)

[1, 2, 3, 4, 5]

In [17]:
numbers = [0, 1, 2, 3, 4, 5]
for number in numbers :
    if number == 3 :
        continue
    print(number)
    
# while문은 조건이 변하기 전까지 작업을 반복하므로 while문에서는 작업 수행의 범위를 지정하는 로직이 포함되어야한다. (무한 루프 방지)
# 반면 for문은 데이터셋의 범위 내에서 모든 원소에 대해 반복 작업을 수행해야 하므로 작업을 멈추는 로직이 없어도 데이터셋의 범위 자체가 이미 작업의 범위를 지정하는 것이다. (무한 루프 없음)

0
1
2
4
5

In [18]:
# 다양한 for문의 사용

a = [(1, 2), (3, 4), (5, 6)]
for (first, last) in a :
    print(first + last)

3
7
11

In [25]:
"""
5명의 학생 점수를 하나씩 꺼내서 60점 이상은 "합격"이라 출력하고
60점 미만은 "불합격"으로 출력
"""

marks = [90, 25, 67, 45, 80]
number = 0 # 학생 번호를 부여
for i in marks : # 데이터 셋 안의 원소를 하나씩 끄집어 내기
    number += 1 # 학생별로 1~5번까지 번호 부여
    if i >= 60 : # 60점 이상(조건문)
        print("%d번 학생은 합격" %number) 
    else : # if 반대의 경우(60점 미만)
        print("%d번 학생은 불합격" %number)

1번 학생은 합격
2번 학생은 불합격
3번 학생은 합격
4번 학생은 불합격
5번 학생은 합격

In [26]:
# 이중 for문 : 개별 원소에 대해 추가적인 반복 연산 가능

for i in range(2, 10) : # 구구단 2에서 9단까지의 몇 단 설정
    for j in range(1, 10) : # 각 구구단의 계산
        print(f"{i} x {j} = {i * j}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [27]:
# for문은 한줄에 쓸 수 있다

numbers = [1, 2, 3, 4, 5]
squares = [x**2 for x in numbers] # 하고싶은 작업 for 원소 in 데이터셋
squares

'''
for x in numbers :
    print(x**2)
'''

[1, 4, 9, 16, 25]

In [31]:
# 구구단(이중 for문)의 결과값 출력을 한줄로 
result = [x*y for x in range(2, 10) for y in range(1, 10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [32]:
# 1에서 10까지 정수를 더한 값을 만드세요

sum = 0
for i in range(1, 11) :
    sum += i
print(sum)

55

In [40]:
# {key : [val1, val2] - {'영화' : [평점, 관객수(만명)]}}
movie = {'광해' : [9.4, 1200], '공작' : [7.86, 500], '관상' : [8.01, 900],}

# for문으로 딕셔너리에서 key값들만 한줄씩 출력
for xx in movie.keys() :
    print(xx)

# for문으로 딕셔너리에서 value값들만 한줄씩 출력
for yy in movie.values() :
    print(yy)
    
# for문으로 딕셔너리에서 key랑 value값 둘 다 한줄씩 출력
for zz, k in movie.items() :
    print(zz, k)
    
for x in movie.items() :
    print(x)

광해
공작
관상
[9.4, 1200]
[7.86, 500]
[8.01, 900]
광해 [9.4, 1200]
공작 [7.86, 500]
관상 [8.01, 900]
('광해', [9.4, 1200])
('공작', [7.86, 500])
('관상', [8.01, 900])

In [50]:
# {key : [val1, val2] - {'영화' : [평점, 관객수(만명)]}}
movie = {'광해' : [9.4, 1200], '공작' : [7.86, 500], '관상' : [8.01, 900],}

# 문제) 평점 8 이상인 영화들의 제목과 합산 관객수 출력
'''
광해, 관상
합산관객수 2,100
'''
# 혼자 생각
# total = 0
# for a,b in movie.values() :
#     if a >= 8 :
#         total += b
# print(total)

tot = 0 # 합산 관객수
for zz, k in movie.items() : # 데이터 셋 내부 개별 데이터 호출
    if k[0] >= 8 : # 데이터 안에 평점이 담긴 위치를 호출
        print(zz) # 영화 제목 호출
        tot += k[1]
print(tot)

광해
관상
2100

In [51]:
# sort() 사용시
dataset = [3, 5, 1, 2, 4]
dataset.sort()
dataset

[1, 2, 3, 4, 5]

In [59]:
# 오름차순 정렬 sort 함수 없이 정렬 (2중 for문 사용) -1 

dataset = [3, 5, 1, 2, 4]

n = len(dataset)
for i in range(0, n-1) : # 1 ~ n-1까지
    print(dataset)
    for j in range(0, n-i-1) : # i+1 ~ n-1
        if dataset[j] > dataset[j+1] :
            dataset[j], dataset[j+1] = dataset[j+1], dataset[j] # 위치 변환
        
print(dataset)

[3, 5, 1, 2, 4]
[3, 1, 2, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [64]:
# 오름차순 정렬 sort 함수 없이 정렬 (2중 for문 사용) -2

dataset = [3, 5, 1, 2, 4]

n = len(dataset)
for i in range(0, n-1) : # 1 ~ n-1까지 (기준 원소)
    for j in range(i+1, n) : # i+1 ~ n-1 (비교할 원소)
        print(i, j, dataset)
        if dataset[i] > dataset[j] :
            tmp = dataset[i]
            dataset[i] = dataset[j]
            dataset[j] = tmp
            
print(dataset)

# 코드를 많이 읽어보자

0 1 [3, 5, 1, 2, 4]
0 2 [3, 5, 1, 2, 4]
0 3 [1, 5, 3, 2, 4]
0 4 [1, 5, 3, 2, 4]
1 2 [1, 5, 3, 2, 4]
1 3 [1, 3, 5, 2, 4]
1 4 [1, 2, 5, 3, 4]
2 3 [1, 2, 5, 3, 4]
2 4 [1, 2, 3, 5, 4]
3 4 [1, 2, 3, 5, 4]
[1, 2, 3, 4, 5]

In [62]:
dataset = [3, 5, 1, 2, 4]

n = len(dataset)
for i in range(0, n-1) : # 1 ~ n-1까지
    print(dataset)
    for j in range(0, n-i-1) : # i+1 ~ n-1
        if dataset[j] < dataset[j+1] :
            dataset[j], dataset[j+1] = dataset[j+1], dataset[j] # 위치 변환
        
print(dataset)

[3, 5, 1, 2, 4]
[5, 3, 2, 4, 1]
[5, 3, 4, 2, 1]
[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

In [65]:
dataset = [3, 5, 1, 2, 4]

n = len(dataset)
for i in range(0, n-1) : # 1 ~ n-1
    for j in range(i+1, n) : # i+1 ~ n-1
        print(i,  j, dataset)
        if dataset[i] < dataset[j] :
            tmp = dataset[i]
            dataset[i] = dataset[j]
            dataset[j] = tmp
print(i, j, dataset)

# 디버깅 팁 : 내가 검증하고 싶은 로직 바로 밑에 print 함수 사용 + 변수도 추가(더 정확하게 확인 가능)

0 1 [3, 5, 1, 2, 4]
0 2 [5, 3, 1, 2, 4]
0 3 [5, 3, 1, 2, 4]
0 4 [5, 3, 1, 2, 4]
1 2 [5, 3, 1, 2, 4]
1 3 [5, 3, 1, 2, 4]
1 4 [5, 3, 1, 2, 4]
2 3 [5, 4, 1, 2, 3]
2 4 [5, 4, 2, 1, 3]
3 4 [5, 4, 3, 1, 2]
3 4 [5, 4, 3, 2, 1]

In [72]:
# 로또 프로그램

import random # 무작위 수 추출하는 모듈

r = [] # 빈 리스트 자료구조 생성 - 추출한 번호 넣는 용도

for i in range(6) : # 6개의 숫자 추출
    r.append(random.randint(1, 45)) # random.randint(1, 45) - 1 ~ 45 정수 중 무작위 하나 추출
    
print(r) # 결과 출력

# 중복된 수 나올 수 있음

[9, 7, 19, 37, 46, 9]

In [87]:
import random

r = []
while len(r) < 6 :
    number = random.randint(1, 45)
    if number not in r: # 중복 체크
        r.append(number)
print(r)

[25, 27, 30, 37, 28, 40]

In [80]:
# 10개 구매

import random

results = {} # 최종 복권결과를 저장하는 자료구조 선언
for i in range(10) : # 복권 10장
    r = [] # 개별 복권 결과를 저장하는 자료구조 선언

    while len(r) < 6 : # 당첨숫자 6개 나올때까지 계속 로직 수행
        number = random.randint(1, 45) # 1 ~ 45 중 정수 하나 추출
        if number not in r : # 중복된 숫자 유무 체크
            r.append(number) # 중복된 숫자가 아닌 경우 당첨숫자에 추가
            
        results[i] = r # 만들어진 당첨 복권 세트 하나씩 최종 결과에 추가
            
print(results) # 결과 출력

{0: [43, 28, 9, 16, 30, 20], 1: [10, 32, 33, 25, 43, 13], 2: [30, 41, 40, 22, 14, 29], 3: [16, 7, 10, 17, 11, 3], 4: [28, 27, 22, 8, 5, 25], 5: [16, 24, 23, 14, 44, 30], 6: [25, 8, 12, 35, 7, 19], 7: [43, 29, 20, 14, 33, 4], 8: [29, 38, 25, 42, 19, 12], 9: [21, 40, 33, 31, 41, 7]}

In [90]:
import random

results = {}

for j in range(10) :
    r = random.sample(range(1, 46), 6) # 1 ~ 45까지 정수 중 6개 출력
    r.sort() # 오름차순 정렬
    results[j] = r

results

{0: [4, 12, 15, 19, 36, 41],
 1: [8, 12, 15, 28, 31, 39],
 2: [3, 16, 19, 22, 29, 30],
 3: [8, 10, 11, 21, 27, 41],
 4: [8, 15, 17, 18, 21, 28],
 5: [1, 11, 17, 24, 28, 35],
 6: [2, 3, 8, 15, 21, 36],
 7: [2, 7, 23, 34, 40, 43],
 8: [8, 16, 23, 25, 30, 45],
 9: [3, 11, 12, 33, 39, 40]}

In [ ]:
# 정렬알고리즘에서 오름차순 알고리즘을 사용하여
# 아래 5개 데이터셋의 정렬작업을 순차적으로 진행하여 주시기 바랍니다.
#맨 위에 for문 하나만 더 쓰면 됩니다.

dataset_1 = [3, 5, 1, 2, 4]
dataset_2 = [3, 11, 77, 32, 99]
dataset_3 = [3, 75645, 32, 2, 666]
dataset_4 = [3, 32, 1, 666, 4]
dataset_5 = [323, 5, 7, 2, 666]
datasets = [dataset_1, dataset_2, dataset_3, dataset_4, dataset_5 ]

# 아래의 정렬알고리즘을 변환하여 위 데이터셋을 한번에 정렬시키세요
------------------------
dataset = [3, 5, 1, 2, 4]
n = len(dataset)
for i in range(0, n-1) : # 1 ~ n-1
    for j in range(i+1, n) : # i+1 ~ n-1
        #print(i, j, dataset) # 그냥 dataset을 출력하면 내가 어디있는지 잘 몰라
        if dataset[i] > dataset[j] :
            tmp = dataset[i]
            dataset[i] = dataset[j]
            dataset[j] = tmp
print(dataset)

In [98]:
dataset_1 = [3, 5, 1, 2, 4]
dataset_2 = [3, 11, 77, 32, 99]
dataset_3 = [3, 75645, 32, 2, 666]
dataset_4 = [3, 32, 1, 666, 4]
dataset_5 = [323, 5, 7, 2, 666]
datasets = [dataset_1, dataset_2, dataset_3, dataset_4, dataset_5 ]

for i in datasets :
    n = len(i)
    for j in range(0, n-1) :
        for k in range(j+1, n) :
            if i[j] > i[k] :
                tmp = i[j]
                i[j] = i[k]
                i[k] = tmp
                
print(datasets)

[[1, 2, 3, 4, 5], [3, 11, 32, 77, 99], [2, 3, 32, 666, 75645], [1, 3, 4, 32, 666], [2, 5, 7, 323, 666]]

In [99]:
# 1 ~ 100까지의 정수 중에서 짝수만 뽑아서 출력

result = list(range(1, 101))
result3 = []

for i in result :
    if i % 2 == 0 :
        result3.append(i)
        
print(result3)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]