In [ ]:
# 아래처럼 출력되도록 for문 사용

a = [1, 2, 3, 4]
result = []

'''
출력시 
[]
[3]
[3, 6]
[3, 6, 9]
'''

# 처음에는 빈칸 출력, 그 다음부터 결과를 하나씩 넣어서 출력
# for i in a :
#     print(result)
#     result.append(3*i)

    
for i in a : # for문을 호출해서 데이터 셋 안에 데이터를 하나씩 끄집어낸다.
    print(result) # result 출력 - 처음 빈칸 출력을 위해 앞에 배치 / 마지막줄에 사용시 [3], [3, 6], [3, 6, 9], [3, 6, 9, 12]
    k = i * 3 # for문을 사용해서 꺼낸 데이터 i에 3을 곱한 수를 k라 지정
    result.append(k) # k를 result에 추가

# 바운더리 컨디션

In [ ]:
result = []

for x in range(2, 10) :
    for y in range(1, 10) :
        z = x * y
        result.append(z)
        
print(result)

In [ ]:
# 1줄 for문
result = [x * y for x in range(2, 10) for y in range(1, 10)]
print(result)

In [ ]:
lst = [0, 1, 2, 3, 4]
for i in lst : # for문을 호출해서 데이터 셋 안에 데이터를 하나씩 끄집어낸다.
    k = i + 1 # 꺼낸 i에 1 더해 k라 지정
    print(lst[:k]) # lst[:k] -> 0부터 k-1 까지 출력 (앞에서부터 k개 출력)
    
'''
출력시
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
'''

In [ ]:
lst = [1, 2, 3, 4, 5]
for i in lst : # for문을 호출해서 데이터 셋 안에 데이터를 하나씩 끄집어낸다.
    k = i - 1 # 꺼낸 i에 1 빼서 k라 지정
    print(lst[:k]) # lst[:k] -> 앞에서부터 k개 출력
    
'''
출력시
[]
[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
'''

In [ ]:
lst = [1, 2, 3, 4, 5]
for i in lst :
    print(lst[i-1:]) # lst[i-1] 부터 끝까지 출력
    

"""
출력시
[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[3, 4, 5]
[4, 5]
[5]
"""

In [ ]:
# 직급별로 단어 숫자 세서 딕셔너리에 저장
# for문과 if문의 적절한 조화로 문제 풀기

position = ['과장', '부장', '대리', '사장', '대리', '과장']
position_cnt = {} # 결과를 저장할 딕셔너리 지정

for ch in position : # position 데이터셋에서 데이터 하나씩 꺼냄
    if ch in position_cnt : # 만약 꺼낸 데이터가 postion_cnt의 key값에 있는 경우 value에 +1 # 결과 데이터셋 내부에 꺼낸 데이터가 있다면
        position_cnt[ch] +=1                                                                # 직급 key 데이터에 사람수 value 1 더하기
    else : # 꺼낸 데이터가 position_cnt의 key 값에 없는 경우 value = 1                      # 결과 데이터셋에 해당 데이터가 없다면
        position_cnt[ch] = 1                                                                # 직급 key 데이터 생성하고 사람수 value 1 지정
        
print(position_cnt)

In [ ]:
student = ["윤석열", "김건희", "한동훈"]
numbers = 0


for i in student : 
#     print("%d번 학생" %numbers, i)
    print("%d번 학생 %s" %(numbers, i))
    numbers += 1

'''
출력시
0번 학생 윤석열
1번 학생 김건희
2번 학생 한동훈
'''

In [ ]:
# index 이용해서 더 간단히

student = ["윤석열", "김건희", "한동훈"]
for i in student :
    print("%d번 학생 %s" %(student.index(i), i))

In [ ]:
# 다음 코드 결과값

a = "Life is too short, you need a python"

if "wife" in a: # 1번
    print("wife") 
elif "python" in a and "you" not in a : # 2번
    print("python")
elif "shirt" not in a : # 3번
    print("shirt") 
elif "need" in a : # 4번
    print("need") 
else : # 5번
    print("none") 
    
# 4번도 맞지만 3번이 순서상 먼저 처리되면서 3번 출력

In [ ]:
user_input = input("이름을 입력하세요 : ")
print("안녕하세요, " + user_input + "님!")

In [ ]:
message = "Hello, " + "World!"
print(message)

In [ ]:
name = "Alice"
age = 30
print("이름 : ", name, ", 나이 : ", age)

In [ ]:
# 당기 순이익 계산 식 = 매출 - 배달비 - 세금 - 주주배당 이라 할 경우
# a = revenue - delivery - tax - dividend

# def my_profit(revenue, delivery, tax, dividend) :
#     x = (revenue - delivery) * (1- tax) - dividend
#     return x

# my_profit(10000, 1000, 0.22, 400)

import profit

profit.my_profit(10000, 1000, 0.22, 400)

In [ ]:
import profit

profit.my_profit(10000, 1000, 0.22, 400)

In [ ]:
def greet(name, age) :
    print(f"Hello, {name}! You are {age} years old.")
    
greet("Alice", 30)
greet(age = 30, name = "Alice")

In [ ]:
print(greet("Alice", 30))
# return 값이 없으므로 None까지 출력

In [ ]:
# 입력값 3개 받아서 더해주는 식을 함수로

def sum_many(x, y, z) :
    a = x + y + z
    return a

result = sum_many(1, 2, 3)
result

In [ ]:
# 입력값 5개, 7개 이런식으로 늘어날 경우 - 가변인수 사용
# 가변인수는 변수앞에 *붙이면 된다 (같은 데이터 타입)

def add(*args) :
    result = 0
    for num in args:
        result += num
    return result

total = add(1, 2, 3, 4, 5, 6, 7) # 임의의 개수의 인수 전달
total

total2 = add(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
total2

In [ ]:
# def sum_mul(choice, *args) :
#     if choice == 'sum' :
#         result = 0
#         for i in args :
#             result = result + i
#     elif choice == 'mul' :
#         result = 1
#         for i in args :
#             result = result * i
#     return result

# result = sum_mul('sum', 1, 2, 3, 4, 5)
# print(result)

# result2 = sum_mul('mul', 1, 2, 3, 4, 5)
# print(result2)

In [7]:
# 로직 추가해서 나눗셈 기능 추가

def sum_mul(choice, *args) :
    if choice == 'sum' :
        result = 0
        for i in args :
            result = result + i
    elif choice == 'mul' :
        result = 1
        for i in args :
            result = result * i
    elif choice == 'div' :
        result = 1
        for i in args :
            result = result / i
    return result

result = sum_mul('div', 1, 2, 3, 4, 5)
print(result)

0.008333333333333333

In [ ]:
# 여러 결과를 한번에 나타낼 수 있다.

def sum_and_mul(a, b) :
    return a + b, a * b

result = sum_and_mul(3, 4)
result

sum, mul = sum_and_mul(3, 4) # 결과를 하나씩 쪼개서 받을 수 있다.
sum
mul
_, mul = sum_and_mul(3,4) # _ 사용시 해당 결과를 받지 않고 무시

In [ ]:
def sum_and_mul(a, b) :
    return a + b
    return a * b # 무시

result = sum_and_mul(2,3)
result

# 함수당 return 하나만 가능 두번째 리턴은 무시

In [ ]:
# 입력 인수에 초깃값 미리 설정

def say_myself(name, old, man = True) : # 기본값을 남자로 잡음
    print('나의 이름은 %s입니다.' %name)
    print('나이는 %d살입니다.' %old)
    if man :
        print('남자입니다.')
    else :
        print('여자입니다.')

say_myself("ㅇㅇㅇ", 30) 
say_myself("ㅁㅁㅁ", 20, False)

In [ ]:
def say_myself(name, man = True, old) : # 초깃값은 뒤에서부터 설정해야 한다 - 중간에서 설정시 에러
    print('나의 이름은 %s입니다.' %name)
    print('나이는 %d살입니다.' %old)
    if man :
        print('남자입니다.')
    else :
        print('여자입니다.')
        
say_myself("ㅇㅇㅇ", True, 30)

In [ ]:
# 칼만필터

In [ ]:
# **kwargs - 딕셔너리 형태의 가변변수

# 딕셔너리 자료구조에 한해 **를 사용해서 가변변수 설정가능

def person_info(**kwargs) :
    for key, value in kwargs.items() :
        print(f"{key}: {value}")

person_info(name="Alice", age=30, city="New York")

In [ ]:
# lambda 함수

# 복합자료구조 - 리스트 안에 딕셔너리
data = [{'name': 'Alice', 'age': 30}, {'name': 'Bob', 'age': 25}, {'name': 'Charlie', 'age': 35}]
sorted_data = sorted(data, key=lambda x: x['age']) # 나이를 기준으로 sort
# 주어진 데이터를 기준으로 각 딕셔너리 데이터셋에서 key값 age를 확인하여 sort함수를 통해 오름차순 정렬
sorted_data

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_number = list(filter(lambda x : x % 2 == 0, numbers))
# number 데이터 셋에서 개별 원소를 꺼내서 2로 나눈 나머지가 0인 것만 filter함수를 통해 포함
even_number

In [ ]:
# 주의할 점

# 람다함수의 한계 - 람다 함수는 단순한 함수에만 사용해야 한다
# 복잡한 함수나 여러 줄의 코드를 포함하는 함수를 람다로 정의하면 코드의 가독성이 떨어지고 유지보수가 어려워진다

# 변수 범위 - 람다 함수는 자신이 정의된 범위 내에서만 사용할 수 있는 변수를 참조할 수 있다.

# 가독성 - 람다 함수는 간단한 경우에만 사용해야하며, 함수의 이름과 문서화가 빠져있어 가독성이 떨어질 수 있다.
# 따라서 의미 있는 함수일 경우에는 명시적인 함수 정의를 고려해야 한다.

# 람다함수는 파이썬에서 코드를 간결하게 작성할 때 유용하지만, 복잡한 작업에는 일반 함수를 사용하는 것이 더 좋을 수 있다.

In [ ]:
# 실습 - 문자 빈도수 구하기

charset = ['abc', 'code', 'band', 'band', 'abc']
wc = {}